.Home{
    display: flex;
    flex-direction: row;
    margin: 0px;
    /* margin-right: 10px; */
}
.MainCard{
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}
.HeadandCard{
    /* gap: 20px; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.Notiandmodules{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin: 20px;
}
@media(max-width:1120px){
  .MainCard{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}
  .Notiandmodules{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

}
@media(max-width:740px){

  .Sidebar{
    display: none;
  }
  .Home{
    display: flex;
    flex-direction: row;
    /* align-items: center;*/ 
    justify-content: center; 
    
  }
  .MainCard{
    margin-left: 5px;
  }

}